github "HiyakashiGroupHoldings/ExtensionCollection"
github "marketplacer/keychain-swift" ~> 10.0
github "xmartlabs/Eureka" ~> 4.0
github "Alamofire/Alamofire" ~> 4.5
github "evgenyneu/keychain-swift" ~> 10.0
