IPHONEOS_DEPLOYMENT_TARGET = 16.0
TARGETED_DEVICE_FAMILY = 1
SDKROOT = iphoneos
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = 99649YXF6E

PRODUCT_BUNDLE_IDENTIFIER = moe.nnsnodnb.NowPlaying
PRODUCT_NAME = NowPlaying
BUNDLE_VERSIONS_STRING_SHORT = 2.4.7
BUNDLE_VERSION = 83
DISPLAY_NAME = NowPlaying
INFOPLIST_FILE = NowPlaying/Supporting Files/Info.plist
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
