<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Action</string>
			<key>Title</key>
			<string>Action</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/APIKit</string>
			<key>Title</key>
			<string>APIKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Carthage</string>
			<key>Title</key>
			<string>Carthage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/DeallocationChecker</string>
			<key>Title</key>
			<string>DeallocationChecker</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/DTTJailbreakDetection</string>
			<key>Title</key>
			<string>DTTJailbreakDetection</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Eureka</string>
			<key>Title</key>
			<string>Eureka</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Feeder</string>
			<key>Title</key>
			<string>Feeder</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/firebase-ios-sdk</string>
			<key>Title</key>
			<string>firebase-ios-sdk</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Hero</string>
			<key>Title</key>
			<string>Hero</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/IBLinter</string>
			<key>Title</key>
			<string>IBLinter</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/ios-snapshot-test-case</string>
			<key>Title</key>
			<string>ios-snapshot-test-case</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/KeychainAccess</string>
			<key>Title</key>
			<string>KeychainAccess</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/MarqueeLabel</string>
			<key>Title</key>
			<string>MarqueeLabel</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/MastodonKit</string>
			<key>Title</key>
			<string>MastodonKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/NotificationBanner</string>
			<key>Title</key>
			<string>NotificationBanner</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Nuke</string>
			<key>Title</key>
			<string>Nuke</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/R.swift</string>
			<key>Title</key>
			<string>R.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/R.swift.Library</string>
			<key>Title</key>
			<string>R.swift.Library</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/realm-cocoa</string>
			<key>Title</key>
			<string>realm-cocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxCocoa</string>
			<key>Title</key>
			<string>RxCocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxDataSources</string>
			<key>Title</key>
			<string>RxDataSources</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxRealm</string>
			<key>Title</key>
			<string>RxRealm</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxRealmDataSources</string>
			<key>Title</key>
			<string>RxRealmDataSources</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxRelay</string>
			<key>Title</key>
			<string>RxRelay</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxStoreKit</string>
			<key>Title</key>
			<string>RxStoreKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxSwift</string>
			<key>Title</key>
			<string>RxSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxTest</string>
			<key>Title</key>
			<string>RxTest</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/ScrollFlowLabel</string>
			<key>Title</key>
			<string>ScrollFlowLabel</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/SFSafeSymbols</string>
			<key>Title</key>
			<string>SFSafeSymbols</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/SnapKit</string>
			<key>Title</key>
			<string>SnapKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/SVProgressHUD</string>
			<key>Title</key>
			<string>SVProgressHUD</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Swifter</string>
			<key>Title</key>
			<string>Swifter</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/SwiftGen</string>
			<key>Title</key>
			<string>SwiftGen</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/SwiftLint</string>
			<key>Title</key>
			<string>SwiftLint</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/XcodeGen</string>
			<key>Title</key>
			<string>XcodeGen</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
