<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Action</string>
			<key>Title</key>
			<string>Action</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/APIKit</string>
			<key>Title</key>
			<string>APIKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/AutoScrollLabel</string>
			<key>Title</key>
			<string>AutoScrollLabel</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Crashlytics</string>
			<key>Title</key>
			<string>Crashlytics</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/DTTJailbreakDetection</string>
			<key>Title</key>
			<string>DTTJailbreakDetection</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/DynamicBlurView</string>
			<key>Title</key>
			<string>DynamicBlurView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Eureka</string>
			<key>Title</key>
			<string>Eureka</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Fabric</string>
			<key>Title</key>
			<string>Fabric</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Firebase</string>
			<key>Title</key>
			<string>Firebase</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/FirebaseAnalytics</string>
			<key>Title</key>
			<string>FirebaseAnalytics</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/FirebaseAuth</string>
			<key>Title</key>
			<string>FirebaseAuth</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/FirebaseAuthInterop</string>
			<key>Title</key>
			<string>FirebaseAuthInterop</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/FirebaseCore</string>
			<key>Title</key>
			<string>FirebaseCore</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/FirebaseDatabase</string>
			<key>Title</key>
			<string>FirebaseDatabase</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/FirebaseInstanceID</string>
			<key>Title</key>
			<string>FirebaseInstanceID</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Google-Mobile-Ads-SDK</string>
			<key>Title</key>
			<string>Google-Mobile-Ads-SDK</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/GoogleAppMeasurement</string>
			<key>Title</key>
			<string>GoogleAppMeasurement</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/GoogleUtilities</string>
			<key>Title</key>
			<string>GoogleUtilities</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/GTMSessionFetcher</string>
			<key>Title</key>
			<string>GTMSessionFetcher</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Hero</string>
			<key>Title</key>
			<string>Hero</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/KeychainAccess</string>
			<key>Title</key>
			<string>KeychainAccess</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/leveldb-library</string>
			<key>Title</key>
			<string>leveldb-library</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/nanopb</string>
			<key>Title</key>
			<string>nanopb</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/NSURL+QueryDictionary</string>
			<key>Title</key>
			<string>NSURL+QueryDictionary</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Nuke</string>
			<key>Title</key>
			<string>Nuke</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/PopupDialog</string>
			<key>Title</key>
			<string>PopupDialog</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/R.swift</string>
			<key>Title</key>
			<string>R.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/R.swift.Library</string>
			<key>Title</key>
			<string>R.swift.Library</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/realm-cocoa</string>
			<key>Title</key>
			<string>realm-cocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxStoreKit</string>
			<key>Title</key>
			<string>RxStoreKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/RxSwift</string>
			<key>Title</key>
			<string>RxSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/SnapKit</string>
			<key>Title</key>
			<string>SnapKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/SVProgressHUD</string>
			<key>Title</key>
			<string>SVProgressHUD</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/Swifter</string>
			<key>Title</key>
			<string>Swifter</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.NowPlaying/SwiftLint</string>
			<key>Title</key>
			<string>SwiftLint</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
