<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpaMIhKS8o-3rgGqjwfq2FMqXvIYnIjV4</string>
	<key>GCM_SENDER_ID</key>
	<string>482697571923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>moe.nnsnodnb.NowPlaying</string>
	<key>PROJECT_ID</key>
	<string>nowplaying-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>nowplaying-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482697571923:ios:730a45e67f2f7f01e720a6</string>
</dict>
</plist>