<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TWITTER_CONSUMER_KEY</key>
	<string>$(TWITTER_CONSUMER_KEY)</string>
	<key>TWITTER_CONSUMER_SECRET</key>
	<string>$(TWITTER_CONSUMER_SECRET)</string>
	<key>FIREBASE_ADMOB_APP_ID</key>
	<string>$(FIREBASE_ADMOB_APP_ID)</string>
	<key>FIREBASE_ADMOB_BANNER_ID</key>
	<string>$(FIREBASE_ADMOB_BANNER)</string>
	<key>MASTODON_INSTANCES_API_TOKEN</key>
	<string>$(MASTODON_INSTANCES_API_TOKEN)</string>
</dict>
</plist>
