<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleDisplayName</key>
	<string>NowPlaying</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ja</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swifter-$(TWITTER_CONSUMER_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nowplaying-ios-nnsnodnb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>$(FABRIC_API_KEY)</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>GADApplicationIdentifier</key>
	<string>$(FIREBASE_ADMOB_APP_ID)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>FIREBASE_ADMOB_APP_ID</key>
		<string>$(FIREBASE_ADMOB_APP_ID)</string>
		<key>FIREBASE_ADMOB_BANNER_ID</key>
		<string>$(FIREBASE_ADMOB_BANNER_ID)</string>
		<key>MASTODON_INSTANCES_API_TOKEN</key>
		<string>$(MASTODON_INSTANCES_API_TOKEN)</string>
		<key>TWITTER_CONSUMER_KEY</key>
		<string>$(TWITTER_CONSUMER_KEY)</string>
		<key>TWITTER_CONSUMER_SECRET</key>
		<string>$(TWITTER_CONSUMER_SECRET)</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>音楽再生のためミュージックライブラリにアクセスします</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>投稿時に位置情報をしようします</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
